{% extends 'base.html' %}
{% block title %}
ViewHUB | Contact Us
{% endblock %}
{% block style %}
.container{
    text-align:center;
}
.col-sm-10{
    width:60%;
}

.form-control, .form-control:focus{
    background-color: rgb(34 44 64 / var(--tw-bg-opacity));
    color: white;
    outline:none;
    border:0;
  }
{% endblock %}
{% block content %}
<h3 class="text-center mb-3 ">Contact Us</h3>
<form class="container" method="post" action="/contact">
    {% csrf_token %}
    <div class="mb-3 justify-content-center row">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class="mb-3 justify-content-center row">
        <label for="query" class="col-sm-2 col-form-label">Query Related:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="query" name="query">
        </div>
    </div>
    <div class="mb-3 justify-content-center row">
        <label for="email" class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10">
        <input type="email" class="form-control" id="query" name="email">
        </div>
    </div>
    <div class="justify-content-center mb-3 row">
        <label for="description" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10"> 
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="10" name="content"></textarea>
        </div>
    </div>
    <div class="col-auto">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>
{% endblock %}

{% block javascript %}
document.getElementById("icontact").classList.add("disabled");
document.getElementById("icontact").classList.remove("active");
{% endblock %}